* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

:root {
  --primary: #615ffc;
  --secondary: #a594f9;
  --tertiary: #f5efff;
}

.app-container {
  background-color: var(--secondary);
  min-height: 100vh;
  margin: 0 15%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.nav-btn {
  background-color: var(--tertiary);
  border: none;
  margin: 15px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  overflow: visible;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-size: 2.5rem;
  font-weight: 900;
  backface-visibility: hidden;
}

.list-btn {
  background-color: var(--tertiary);
  border: none;
  margin: 15px;
  /* padding: 20px; */
  height: 35px;
  width: 35px;
  border-radius: 50px;
  overflow: visible;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  font-size: 2rem;
  font-weight: 900;
  backface-visibility: hidden;
}

.nav-btn:hover {
  transform: scale(1.08) translateY(-1px);
}

.btn:hover {
  transform: scale(1.08) translateY(-1px);
}

.fa {
  color: black;
  height: 25px;
}
